html {
  background-color: #66ABEF;
}

a {
  color: #4285F4;
}

p {
  margin: 0px;
  padding: 0px;
}

strong {
  color: inherit;
}

.box {
  box-shadow: 0px 0px 0px;
  background-color: rgb(226,239,252);
}

.invert {
  filter: invert(1);
}

.subtitle strong {
  color: inherit;
}

.flex-container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  font-family: 'Source Sans Pro';
  font-size: 5em;
  color: rgb(244,249,254);
}

.subheader {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 2em;
  color: rgb(244,249,254);
}

.first-slide-bg {
  background-image: linear-gradient( rgba(102,171,239,.7), rgba(102,171,239,.99) ), url("../img/bg.jpg");
  background-position: top;
  background-size: cover;
}

.color-one {
  background-color: #66ABEF;
}

.color-two {
  background-color: #FFFFFF;
}

.color-three {
  background-color: #4285F4;
}

.font-color-two {
  color: #DFE0D1;
}

.green-strong {
  color: #75C2AF;
}

.grey-strong {
  color: #4E5D73;
}

/* Animation.css */

.fadeIn {
  animation-duration: 5s;
}

.fadeInRightBig.title-animation{
  animation-duration: 2s;
}

.fadeInUpBig.title-animation {
  animation-delay: 1s;
  animation-duration: 2s;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
}

font-family: 'Source Sans Pro', sans-serif;
