html {
	background-color: #36393B;
}

a {
	color: #EEE6AB;
	transition: 0.7s;
}

a.footer-link {
	font-family: 'Muli';
	color: #696758;
	font-weight: 700;
}

a.footer-link:hover {
	text-decoration: underline;
}

a.nav-hover:hover {
	color: #bfb894;
}

a:hover {
	color: #4285F4;
}

img + img {
	padding-top: 20px;
}

p {
	margin: 0px;
	padding: 0px;
}

strong {
	color: inherit;
}

.banner-text {
	font-family: 'Muli';
	font-weight: 700 !important;
	font-size: 2em;
	color: #EEE6AB;
}

.banner-text.choice {
	font-size: 3.5em;
}

.banner-text.button {
	font-variant: small-caps;
}

.banner-subtext {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 400 !important;
	font-size: 2em;
	color: #C5BC8E;
}

.nav-logo-text {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 700;
	font-size: 3em;
	color: #fff;
}

.nav-logo {
	max-width: 50px;
	height: auto;
}

.nav-right-text {
	font-family: 'Muli';
	font-weight: 400;
}

.no-pad-top {
	padding-top: 0px !important;
}

.box:hover{
	background-size: 1200%;
}

.box-text {
	font-family: 'Roboto';
	font-size: 1.5em;
	color: #b3b8bc;
}

.footer-title {
	font-family: 'Muli';
	font-weight: 700;
	font-size: 1.5em;
	padding-bottom: 20px;
}

.footer-text {
	font-family: Roboto;
	font-weight: 400;
}

.invert {
	filter: invert(1);
}

.subtitle strong {
	color: inherit;
}

.first-slide-bg {
	background-image: linear-gradient( rgba(55,57,59,.5), rgba(55,57,59,1) ), url("../img/main-grid.png");
	background-color: #36393B;
	background-repeat: no-repeat;
	background-size: 150% 60%;
	background-position: bottom right;
	transition: 5s;
}

.first-slide-bg:hover {
	background-position: bottom left;
}

.buy-bg {
	background-image: linear-gradient( rgba(55,57,59,.1), rgba(55,57,59,.99) ), url("../img/low-grid.png");
	background-size: cover;
	background-position: bottom;
}

.color-one {
	background-color: #66ABEF;
}

.color-two {
	background-color: #FFFFFF;
}

.color-three {
	background-color: #4285F4;
}

.font-color-two {
	color: #DFE0D1;
}

.grn-strong {
	color: #75C2AF;
}

.gry-strong {
	color: #4E5D73;
}

.is-gry {
	background-color: #36393B;
}

.is-tan {
	background-color: #EEE6AB !important;
}

.is-tan-dark {
	background-color: #bfb894;
}

.is-tan-darker {
	background-color: #696758;
}

/* Bulma.css */

a.nav-item {
	color: #fff;
}

.box {
	background-image: linear-gradient( rgba(69,72,75,1), rgba(69,72,75,.8) ), url("../img/box-grid.png");
	box-shadow: 0px 0px 0px;
	background-color: #45484B;
	background-size: 1000%;
	background-repeat: no-repeat;
	background-position: bottom center;
	transition: 0.5s !important;
}

.nav-item img {
	max-height: 3.5em !important;
}

.button.is-dark {
	background-color: #bfb894;
	border-color: transparent;
	color: #363636;
}

.button.is-dark:hover{
	background-color: #45484B;
	border-color: transparent;
	color: #b3b8bc;
}

/* Animation.css */

.fadeIn {
	animation-delay: 1s;
  animation-duration: 5s;
}

.fadeInRightBig.title-animation{
  animation-duration: 2s;
}

.fadeInUpBig.title-animation {
  animation-delay: 1s;
  animation-duration: 2s;
}

/* FontAwesome */

.fa-chevron-right {
	padding-top: 5px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
}

font-family: 'Open Sans', sans-serif;
font-family: 'Muli', sans-serif;
